<%- include('includes/header.ejs') %>

<!-- Custom styles -->
<link rel="stylesheet" href="public/css/navigation.css">
<link rel="stylesheet" href="public/css/projects.css">
<link rel="stylesheet" href="../public/css/loader.css">

<title><%= pageTitle %></title>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../public/assets/loader.js"></script>

</head>

<body>
    <%- include('includes/loader.ejs') %>
    <%- include('includes/nav.ejs') %>

    <section class="section-projects">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/Up.mp4" type="video/mp4">
                <source src="img/Up.webm" type="video/webm">
                Your browser is not supported!
            </video>
        </div>

        <div class="projects">
            <div class="projects__feature">
                <div class="projects__img projects__img--1">&nbsp;</div>
                <div class="projects__link">
                    <a href="https://krzysztofpodmokly.github.io/Bonita-Website/"
                        class="projects__link--live btn btn--white" target="_blank">Live</a>
                    <a href="https://github.com/krzysztofpodmokly/Bonita-Website"
                        class="projects__link--code btn btn--white" target="_blank">Code</a>

                </div>
                <h4 class="projects__heading">Bonita Website</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD</li>
                        <li class="projects__item">JQuery</li>
                        <li class="projects__item">Bootstrap</li>
                    </ul>
                </div>
                <div class="projects__panel">
                    <a href="https://krzysztofpodmokly.github.io/Bonita-Website/" class="projects__panel--search" target="_blank">
                        <svg class="icon icon-search">
                            <use xlink:href="../public/svg/sprite.svg#icon-search"></use>
                        </svg>
                    </a>
                    <a href="https://github.com/krzysztofpodmokly/Bonita-Website" class="projects__panel--github" target="_blank">
                        <svg class="icon icon-git">
                            <use xlink:href="../public/svg/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--2">&nbsp;</div>
                <div class="projects__link">
                    <a href="https://krzysztofpodmokly.github.io/Budget-App/"
                        class="projects__link--live btn btn--white" target="_blank">Live</a>
                    <a href="https://github.com/krzysztofpodmokly/Budget-App"
                        class="projects__link--code btn btn--white" target="_blank">Code</a>
                </div>
                <h4 class="projects__heading">Budget App</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">Desktop only</li>
                        <li class="projects__item">ES6</li>
                        <li class="projects__item">Webpack</li>
                        <li class="projects__item">SCSS</li>
                    </ul>
                </div>
                <div class="projects__panel">
                        <a href="https://krzysztofpodmokly.github.io/Budget-App/" class="projects__panel--search" target="_blank">
                            <svg class="icon icon-search">
                                <use xlink:href="../public/svg/sprite.svg#icon-search"></use>
                            </svg>
                        </a>
                        <a href="https://github.com/krzysztofpodmokly/Budget-App" class="projects__panel--github" target="_blank">
                            <svg class="icon icon-git">
                                <use xlink:href="../public/svg/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--3">&nbsp;</div>
                <div class="projects__link">
                    <a href="https://krzysztofpodmokly.github.io/Roll-Dice-Game/"
                        class="projects__link--live btn btn--white" target="_blank">Live</a>
                    <a href="https://github.com/krzysztofpodmokly/Roll-Dice-Game"
                        class="projects__link--code btn btn--white" target="_blank">Code</a>
                    
                </div>
                <h4 class="projects__heading">Roll Dice Game</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">Desktop only</li>
                        <li class="projects__item">ES5</li>
                        <li class="projects__item">SCSS</li>
                    </ul>
                </div>
                <div class="projects__panel">
                        <a href="https://krzysztofpodmokly.github.io/Roll-Dice-Game/" class="projects__panel--search" target="_blank">
                            <svg class="icon icon-search">
                                <use xlink:href="../public/svg/sprite.svg#icon-search"></use>
                            </svg>
                        </a>
                        <a href="https://github.com/krzysztofpodmokly/Roll-Dice-Game" class="projects__panel--github" target="_blank">
                            <svg class="icon icon-git">
                                <use xlink:href="../public/svg/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--4">&nbsp;</div>
                <div class="projects__link">
                    <a href="http://one-metal.surge.sh/" class="projects__link--live btn btn--white"
                        target="_blank">Live</a>
                    <a href="https://github.com/krzysztofpodmokly/Weather-App"
                        class="projects__link--code btn btn--white" target="_blank">Code</a>
                    
                </div>
                <h4 class="projects__heading">Weather App</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD</li>
                        <li class="projects__item">ES5</li>
                        <li class="projects__item">SCSS</li>
                        <li class="projects__item">XHR</li>
                    </ul>
                </div>
                <div class="projects__panel">
                        <a href="http://one-metal.surge.sh/" class="projects__panel--search" target="_blank">
                            <svg class="icon icon-search">
                                <use xlink:href="../public/svg/sprite.svg#icon-search"></use>
                            </svg>
                        </a>
                        <a href="https://github.com/krzysztofpodmokly/Weather-App" class="projects__panel--github" target="_blank">
                            <svg class="icon icon-git">
                                <use xlink:href="../public/svg/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </div>
            </div>
            <div class="projects__feature">
                <div class="projects__img projects__img--5">&nbsp;</div>
                <div class="projects__link">
                    <a href="#" class="projects__link--live btn btn--white" target="_blank">Live</a>
                    <a href="#" class="projects__link--code btn btn--white" target="_blank">Code</a>
                    
                </div>
                <h4 class="projects__heading">Search Engine</h4>
                <div class="projects__details">
                    <ul class="projects__list">
                        <li class="projects__item">RWD design</li>
                        <li class="projects__item">ES6</li>
                        <li class="projects__item">MongoDB</li>
                        <li class="projects__item">Mongooose</li>
                        <li class="projects__item">NodeJS</li>
                        <li class="projects__item">Webpack</li>
                    </ul>
                </div>
                <div class="projects__panel">
                        <a href="#" class="projects__panel--search" target="_blank">
                            <svg class="icon icon-search">
                                <use xlink:href="../public/svg/sprite.svg#icon-search"></use>
                            </svg>
                        </a>
                        <a href="#" class="projects__panel--github" target="_blank">
                            <svg class="icon icon-git">
                                <use xlink:href="../public/svg/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </div>
            </div>
        </div>
    </section>

    <%- include('includes/end.ejs') %>