<%- include('includes/header.ejs') %>

    <!-- Custom styles -->
    <link rel="stylesheet" href="public/css/navigation.css">
    <link rel="stylesheet" href="public/css/projects.css">

    <title><%= pageTitle %></title>
</head>

<body>
    <%- include('includes/nav.ejs') %>

   <ul>
       <% for (let i = 0; i < messages.length; i++) { %>
            <li><%= messages[i].email %></li>
        <% } %>
   </ul>

<%- include('includes/end.ejs') %>